{{ define "main" }}

  <h1 class="container px-6 pt-6 mx-auto text-3xl font-bold">{{ .Title }}</h1>

    <div>
      {{ $paginator := .Paginate .Pages.ByDate.Reverse 100 }}
      <div class="container p-6 py-12 mx-auto grid grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-12">
          {{ range $paginator.Pages }}
          <div class="grid gap-6">
            {{- partial "desc.html" . -}}
          </div>
          <div class="grid gap-6">
            {{- partial "thumb-card.html" . -}}
          </div>
          <div class="grid gap-6">
            hi
          </div>
          {{ end }}
      </div>
    </div>
  </div>

  {{- partial "social.html" . -}}

{{ end }}