<h1 class="text-2xl font-bold mb-2 text-center py-1">In Press</h1>
<div id="carousel" class="carousel slide mb-4" data-bs-ride="carousel">
  <div class="container max-w-screen-md mx-auto px-2 py-2 gap-2 lg:gap-4 items-center rounded-xl {{ .Site.Params.ascentColor | default "bg-pink-50" }} dark:bg-gray-400">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3500">
        <a href="https://www.newscientist.com/article/2386914-making-your-phone-screen-blurry-could-stop-people-snooping-on-you/" target="_blank">
          <img src="/images/new-scientist-logo.png" class="mx-auto d-block h-6">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="3500">
        <a href="https://cse.engin.umich.edu/stories/university-of-michigan-researchers-create-screen-protection-system-to-fend-off-shoulder-surfers" target="_blank">
          <img src="/images/umich-logo-alt.png" class="mx-auto d-block h-6">
        </a>
      </div>
      <!-- <div class="carousel-item" data-bs-interval="4000">
        <a href="http://localhost:1313/" target="_blank">
          <img src="/images/.png" class="mx-auto d-block h-8">
        </a>
      </div> -->
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
