{{ define "main" }}
  {{- partial "intro.html" . -}}
  {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}

{{- partial "press.html" . -}}

  <!-- <div class="text-center mb-8">
    <a class="text-4xl font-bold mb-2 text-center py-1 px-8 py-3 rounded transition-colors font-bold transition duration-150 border-2 rounded-md border-transparent hover:border-purple-300 {{ .Site.Params.ascentColor | default "bg-pink-50" }} text-gray-500 hover:text-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:text-white" data-bs-toggle="collapse" data-bs-target="#collapseid" type="button" aria-current="page" onclick="hideFunction(this)">Research Projects</a>
</div> -->

<section class="mb-4 {{ .Site.Params.ascentColor | default "bg-pink-50" }} dark:bg-gray-900">

<h1 id="research" class="container px-6 py-6 mx-auto text-3xl font-bold text-center">Research Projects</h1>

</section>

<div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 lg:gap-8 md:gap-8 sm:gap-8">
    {{ range (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)  }}
          <div class="grid gap-6">
            {{- partial "desc.html" . -}}
          </div>
          <div class="grid gap-6">
            {{- partial "thumb-card.html" . -}}
          </div>
    {{ end }}
</div>

  {{- partial "social.html" . -}}
{{ end }}
